.button {
	display: inline-block;
	box-sizing: border-box;
	min-width: 236px;
	height: 66px;
	padding: 1em;
	background: #1f2a4a;
	font-family: @main-font;
	font-size: 19px;
	font-weight: normal;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	transition: background 0.3s;

	&:hover {
		background: #ef4836;
	}
}