@import 'fonts';
@import 'variables';
@import 'typography';
@import 'buttons';

html, body {
	height: 100%;
	color: #fff;
	font-family: @content-font;
}

#video-wrap {
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: -1; /* for accessing the video by click */
}

.main-video {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
}

#introVideo,
#garageVideo {
	display: block;
}

.lang-link {
	display: none;
}

.first-ended {
	.lang-link {
		position: absolute;
		display: inline-block;
		width: 37%;
		height: 28%;

		&.cz {
			top: 39%;
			left: 8%;
		}

		&.en {
			top: 35%;
			left: 61%;
		}
	}
}



/* CONTENT */
.content {
	position: absolute;
	top: 15px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	padding: 6% 20%;
	background: fade(#3f5696, 90%);
	overflow: hidden;

	.heading {
		position: absolute;
		top: 45px;
		left: 75px;
		font-family: @main-font;
		font-size: 34px;
		font-weight: 300;
		text-transform: uppercase;

		span {
			font-weight: 500;
		}
	}
}